<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Todo Management App</title>
    <link rel="stylesheet" type="text/css" href="app-reset.css">
    <link rel="stylesheet" type="text/css" href="todo-app.css">

</head>

<body>
    <main class="TodoPageMain">
        <article>
            <h1 class="TodoPage-title">My Todo-list</h1>
            <section class="AddTodo">
                <input class="AddTodo-text" type="text" placeholder="What's next ?">
                <input class="AddTodo-date" type="date">
                <input class="AddTodo-button" type="button" value="Add">
            </section>
            <section class="TodoSection">
                <div class="TodoSectionTitle">
                    <p class="TodoSectionTitle-text">Due Today</p>
                    <p class="TodoSectionTitle-remainingcount">0/4</p>
                </div>

                <div class="TodoItem">
                    <label class="TodoItem-container">
                        <input class="TodoItem-checkbox" type="checkbox">
                        Submit SaaS 201 project
                        <p class="TodoItem-overdueLabel">Overdue</p>
                        <img class="SplashImage" src="trashcan.jpeg">
                        </a>
                    </label>
                </div>
                <div class="TodoItem">
                    <label class="TodoItem-container">
                        <input class="TodoItem-checkbox" type="checkbox">
                        Call Accountant
                </div>

            </section>
            <section class="TodoSection">
                <div class="TodoSectionTitle">
                    <p class="TodoSectionTitle-text">Due Tomorrow</p>
                    <p class="TodoSectionTitle-remainingcount">0/3</p>
                </div>

                <div class="TodoItem">
                    <label class="TodoItem-container">
                        <input class="TodoItem-checkbox" type="checkbox">
                        Refill groceries
                    </label>
                </div>

            </section>
            <section class="TodoSection">
                <div class="TodoSectionTitle">
                    <p class="TodoSectionTitle-text">Due later</p>
                    <p class="TodoSectionTitle-remainingcount">0/3</p>
                </div>

                <div class="TodoItem">
                    <label class="TodoItem-container">
                        <input class="TodoItem-checkbox" type="checkbox">
                        Refill Petrol Jan 21
                    </label>
                </div>
                <div class="TodoItem">
                    <label class="TodoItem-container">
                        <input class="TodoItem-checkbox" type="checkbox">
                        Buy Books Jan 22
                    </label>
                </div>
                <div class="TodoItem">
                    <label class="TodoItem-container">
                        <input class="TodoItem-checkbox" type="checkbox">
                        Buy Birthday present Jan 23
                    </label>
                </div>

            </section>

        </article>

    </main>
</body>


</html>